
body {
    height: 100vh;
    margin: 0;

    
    display: flex; 
    flex-direction: column;
    
    
    
}

.hero {

    background-color: #1f2937;
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    

}

.hero-text {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.header {
display: flex;


justify-content: space-between;

padding: 8px;
margin: 0px 75px;




}


/*
.header-links {
   
    text-decoration: none;
    color: #e5e7eb;
    
    
    
}
*/

.hero-main {
display: flex;
padding: 8px;
justify-content: center;
align-items: center;
margin: 50px 75px;

}



.body-one-content {
    display: flex;
    justify-content: center;
    align-items: center;


    padding: 5px 20px 75px 75px;

    /*
    margin: 5px 20px 75px 75px;
    
    */
}

.body-one-text {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}


.img-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    margin: 15px;
    
}



.body-two {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}


.body-two-text {
    padding: 10px;
    margin: 75px 150px;
}


.body-three {
    display: flex;
    justify-content: center;
    align-items: center;
   /* flex: 1; */

}


.body-three-content {
    display: flex;
    background-color: #3882f6;
    color: white;
    
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    margin: 50px 75px;

    
}


/*
.body-three-text {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: 0;
}

*/

.body-three h1 {
    margin-bottom: 0;
}
.body-three h2 {
    margin-top: 0;
}


.body-three-button {
    margin: 40px;
}




.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    margin-top: auto; 
    justify-content: center;
    align-items: center;
    
}





button {
    background-color: #3882f6;
    
}

a {
    display: flex;
    text-decoration: none;
    list-style: none;
  
  
    color: #e5e7eb; 
    padding: 0px 8px;
    
    
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    font-size: 18px;
  /*  color: #e5e7eb;
    text-decoration: none; */
}

.hero-pic {
    width: 300px;
    height: 150px;
}


.pic-body {
    width: 125px;
    height: 125px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}


li {
    text-decoration: none;
    color: #e5e7eb;
}